<!DOCTYPE html>
<html lang="ES">
  <head>
    <title>Shutter Control v2.0</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@1.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css" />
    
    <!-- FAVICON -->
    <link rel="apple-touch-icon" href="favicon.png" />
    <link rel="icon" href="favicon.png" type="image/png" />
  </head>

  <body>
    <v-app id="app">
      <v-content class="red lighten-4">
        <v-toolbar elevation="5" class="red accent-1" light
          ><v-icon class="pa-2">mdi-access-point</v-icon>
          <h3>Control persianas</h3>
          <v-flex text-xs-right>
            <a href="./update"><v-btn class="pa-3" color="info">Update</v-btn></a>
          </v-flex>
        </v-toolbar>
        <v-container fluid text-xs-center>
          <v-layout class="d-flex">
            <div class="pa-1">
              <v-card elevation="3" light text-md-center>
                <v-card-title class="red accent-1"
                  ><h3>Izquierda</h3></v-card-title
                >
                <v-list class="red accent-1">
                  <action
                    v-for="item in action_list1"
                    :action="item"
                    :key="item.id"
                  />
                </v-list>
              </v-card>
            </div>

            <div class="pa-1">
              <v-card elevation="3" light>
                <v-card-title class="red accent-1"
                  ><h3 class="text-center">Múltiple</h3></v-card-title
                >
                <v-list class="red accent-1">
                  <action
                    v-for="item in action_list3"
                    :action="item"
                    :key="item.id"
                  />
                </v-list>
              </v-card>
            </div>

            <div class="pa-1">
              <v-card elevation="3" light>
                <v-card-title class="red accent-1"
                  ><h3>Derecha</h3></v-card-title
                >
                <v-list class="red accent-1">
                  <action
                    v-for="item in action_list2"
                    :action="item"
                    :key="item.id"
                  />
                </v-list>
              </v-card>
            </div>
          </v-layout>
        
          <v-layout class="d-flex">
            <div class="pa-1">
              <v-expansion-panel>
                <v-expansion-panel-content class="red accent-1">
                  <template v-slot:header>
                    <v-icon class="pa-2">mdi-cellphone-cog</v-icon>
                    <h3>Configuraciones</h3>
                  </template>
                  <v-card>
                    <v-list class="red accent-1">
                      <gpio-output
                        v-for="item in config_list"
                        v-bind:config="item"
                        v-bind:key="item.id"
                      />
                  </v-card>
                  <v-list class="red accent-1">
                    <change-hour
                      v-for="item in hour_list"
                      v-bind:hours="item"
                      v-bind:key="item.id"
                    />
                  </v-list>
                  
                </v-expansion-panel-content>
              </v-expansion-panel>
            </div>
            
          </v-layout>

          <v-layout class="d-flex">
            <div class="pa-1">
              <v-expansion-panel>
                <v-expansion-panel-content class="red accent-1">
                  <template v-slot:header>
                    <v-icon class="pa-2">mdi-alert-circle-outline</v-icon>
                    <h3>Información</h3>
                  </template>
                  <v-card>
                    <v-list class="red accent-1">
                      <gpio-input
                        v-for="item in information_list"
                        v-bind:information="item"
                        v-bind:key="item.id"
                      />
                  </v-card>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </div>
          </v-layout>
        </v-container>
      </v-content>
      
      
      <v-footer class="pa-2 red accent-1"> 
        <v-flex text-xs-center>
          
          <div class="pa-2 red accent-1">
            &copy; <strong>{{ new Date().getFullYear() }} - <a href="https://gasperwebdesign.com">Gasperwebdesign</a></strong>
          </div>
        </v-flex>
      </v-footer>

    </v-app>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js" integrity="sha512-XdUZ5nrNkVySQBnnM5vzDqHai823Spoq1W3pJoQwomQja+o4Nw0Ew1ppxo5bhF2vMug6sfibhKWcNJsG8Vj9tg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@1.x/dist/vuetify.js"></script>
    <script type="text/javascript" src="./vendor/nativeWs.min.js"></script>

    <!-- Cargamos el fichero que contiene nuestra App en Vue.JS y Script personalizado -->
    <script type="text/javascript" src="./js/app.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>

  </body>
</html>
